.mid-about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80% !important;
  padding-top: 8%;
  color: #7a6b5e;
  h1 {
    text-align: initial;
  }
  p {
    font-size: 1.2rem;
    text-align: inherit;
  }
}
.bottom {
  padding-top: 5%;
  padding-bottom: 15%;
  a:first-child {
    padding-right: 15px;
  }
  img {
    filter: invert(19%) sepia(98%) saturate(1879%) hue-rotate(341deg)
      brightness(105%) contrast(90%);
  }
  img:hover {
    filter: invert(30%) sepia(79%) saturate(6948%) hue-rotate(350deg)
      brightness(80%) contrast(86%);
  }
}
@media (min-width: 760px) {
  .mid-about {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
